html {
  box-sizing: border-box;
  max-width: 200ch;
  margin: auto;
  color: #333;
  line-height: 1.4;
  font-size: 75%; /* font-size 1em = 10px on default browser settings */
}

.navbar {
  background: #15F4EE;
}

body {
    background: linear-gradient(to bottom right, #00FFFF, #0095FF);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 150px;
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.column {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 100rem;
    padding-bottom: 10%;
}


h1 {
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
    line-height: 1;
}

h2 {
    padding-top: 30px;
}

p {
    font-size: 1.4rem;
    line-height: 2rem;
}

.demo_font_arial{
    font-family: arial, sans-serif;
}

img {
  max-width: 75%;
  display: block;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
